div.ui.fullscreen.modal.detailConversation
	div.header 編號: #{code}
	div.content
		div.description
			if conversations
				div.ui.two.column.stackable.grid
					each conversation, language in conversations
						div.column
							if language === 'KR'
								div.ui.blue.message
									div.country.flag
										img(src="/public/images/country/32/South-Korea.png")
									if conversation
										| #{conversation}
									else
										| 暫無資料
							else if language === 'EN'
								div.ui.orange.message
									div.country.flag
										img(src="/public/images/country/32/United-States.png")
									if conversation
										| #{conversation}
									else
										| 暫無資料
				div.ui.horizontal.divider
					img(src="/public/images/country/32/Taiwan.png")
			if translations
				div.translationsContainer
					div.hint
						div.ui.statistic
							div.label 目前已有
							div.value #{Object.keys(translations).length} 位
							div.label 玩家為此句提供了翻譯版本
					div.ui.comments
						div.ui.horizontal.divider
							i.angle.double.down.circular.icon
						each translation in translations
							div.translationContainer
								div.comment
									a.avatar
										img(src='http://graph.facebook.com/' + translation[0] + '/picture?type=square')
									div.content
										div.metadata
											span.assentients 獲得 #{translation[1].assentients.length} 
												i.thumbs.outline.up.icon
										div.text
											div.conversation #{translation[1].conversation}
								div.likeContainer
									button.ui.blue.fluid.button
										i.thumbs.outline.up.icon
										| 投他一票！
							div.ui.divider
	div.actions
		if ! user
			a(href='login')
				button.ui.facebook.button
					i.facebook.icon
					| 登入 Facebook 開始協助翻譯
		else
			button.ui.green.submit.button
				i.pencil.icon
				| 我要提交翻譯版本
		div.ui.button 關閉視窗
div.ui.modal.submitTranslation
	div.header 編號: #{code}
	div.content
		div.description
			div.ui.red.message
				i.warning.sign.large.icon
				| 每筆對話每人僅限提供一筆翻譯，目前不得修改編輯，請謹慎確認無誤後再行送出。
			div.ui.orange.message
				i.file.text.outline.large.icon
				| 提交內容不得包含「換行 Enter」的字元，若需換行請遵守 
				div.ui.orange.label.cursor.pointer(onclick="$('#guideBook').modal('show');") 翻譯規則
				|  所述。
			form.ui.form.translationFrom
				div.field
					textarea(name='translation')
	div.actions
		button.ui.green.button(onclick="submitTranslation('" + code + "');")
			i.send.icon
			| 確定送出
		div.ui.button 關閉視窗
script.
	// Submit the form.
	function submitTranslation(code) {
		ajaxSubmitTranslation(code, function (data) {
			console.log(data);
		});
	}
	function ajaxSubmitTranslation(code, callback) {
		$.ajax(
			{
				url     : '/conversation/' + code + '/translation',
				type    : 'POST',
				data    : $('form.translationFrom').serialize(),
				error   : function () {
					var data = { type: 'ERR_TIMEOUT' };
					callback(data);
				},
				success : function (data) {
					callback(data);
				},
				timeout : 5000
			}
		);
	}